!!!
%html
  %head
    :sass
      body
        text-align: center
      #p
        font-size: 300%
        font-weight: bold
        margin: 200px
      #f
        font-size: 70%
        p
          margin: 0
    %title
      =@title

  %body
    #p
      = yield

    #f
      %p
        %a{href: '/'} Радо
        %a{href: '/olo'} Радодадо
        %a{href: '/ololo'} Фолотроло
      %p
        %a{href: '/l'} Rado
        %a{href: '/lolo'} Radodado
        %a{href: '/lololo'} Folotrolo
      %p
        %a{href: "https://github.com/jablan/polumenta"} Izvorni kod na github
